#formContainer {
    margin: 5em auto;
    padding: 1em 3em;
    width: 60%;
}

.income-input-container {
    margin: 0;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.income-input-container div {
    margin: 0.5em 0;
}

.input-value-item {
    width: 48%;
    margin: 0;
}

.input-value-item > * {
    font-size: 1rem;
    width: 90%;
}

.input-value-item > input {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1100px) {
    #formContainer {
        width: 80%;
    }
}

@media screen and (max-width: 730px) {
    #formContainer {
        width: 90%;
        margin: 5em 1em;
        padding: 1em 0;
    }
}

/* Mobile UI */
@media screen and (max-width: 655px) {
    #formContainer {
        width: 95%;
        margin: 2em auto 1em;
        padding: 1em 0;
    }
    .input-row {
        flex-direction: column;
    }
    .input-value-item {
        width: 60%;
    }
}

#input-label-text {
    font-size: 1.6rem;
    font-weight: 700;
    color: #228b22;

    margin: 0 auto;
}

#pay-radio-buttons {
    margin-top: 0;
}

#pay-radio-buttons > label {
    margin-top: 0;
}

.radio-button > span > span {
    color: #21421e;
}

#submit { 
    background-color: #3cb371;
}