#formContainer {
    margin: 5em auto;
    padding: 1em 3em;
    width: 50%;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-value-item {
    width: 48%;
    margin: 0;
}

.input-value-item > * {
    font-size: 1rem;
    width: 90%;
}

.input-value-item > input {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1100px) {
    #formContainer {
        width: 70%;
    }
}

@media screen and (max-width: 730px) {
    #formContainer {
        width: 90%;
        margin: 5em 1em;
        padding: 1em 0;
    }
}

/* Mobile UI */
@media screen and (max-width: 575px) {
    #formContainer {
        width: 95%;
        margin: 2em auto 1em;
        padding: 1em 0;
    }
    .input-row {
        flex-direction: column;
    }
    .input-value-item {
        width: 60%;
    }
}